<nav class="navbar navbar-expand-lg ps-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="./index"> Gym Assistant </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNavbar"
      aria-controls="mainNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="./ask">Assisstant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./requests">Requests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./expense">Expenses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./performance">Performance</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="dashboardDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dashboard
          </a>

          <ul class="dropdown-menu" aria-labelledby="dashboardDropdown">
            <li>
              <a class="dropdown-menu-item" href="./expense">Token Usage</a>
            </li>
            <li>
              <a class="dropdown-menu-item" href="./performance">Performance</a>
            </li>
          </ul>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
