<nav class="navbar navbar-expand-lg ps-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="./index"> Gym Assistant </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNavbar"
      aria-controls="mainNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="./ask">Assisstant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./requests">Requests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./prompts">Prompts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./expenses">Expenses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./performance">Performance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./activities">Activities</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
