body {
  background-color: #fff;
}

/* Replaces .navbar-header .navbar-brand */
.navbar-brand {
  background-color: #f27d00;
  color: white !important; /* Ensures theme color overrides Bootstrap defaults */
  padding-right: 40px;
}

/* Replaces .navbar-default */
.navbar {
  background-color: #f27d00;
}

/* Replaces links inside .navbar-default */
.navbar .nav-link {
  color: white;
}

/* Replaces .navbar-default .navbar-nav > li.active > a */
.navbar .nav-item.active {
  background-color: #f27d00;
  color: #000 !important;
}

/* Hover effects for active and standard items */
.navbar .nav-link.active:hover {
  color: #fff !important;
}

.navbar .nav-link:hover {
  color: #000 !important;
}

.data-table {
  overflow: auto;
  height: calc(100vh - var(--data-margin, 150px));
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #f27d00;
}

.sticky-bottom {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: sticky;
  bottom: 0px;
  z-index: 1020;
  background-color: #e0e0e0;
}

.chat-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between message bubbles */
  padding: 15px;
  background-color: #efeae2; /* WhatsApp background look */
}

.message {
  max-width: 60%;
  padding: 8px 12px;
  border-radius: 8px;
  font-family: sans-serif;
}

.message.left {
  align-self: flex-start;
  background-color: #ffffff;
}

.message.right {
  align-self: flex-end;
  background-color: #d9fdd3; /* WhatsApp light green look */
}

.jumbo {
  background-color: #f27d00;
  color: #2b2b2b;
}

.table {
  font-size: 12px;
}

.hidden {
  display: none !important;
}

.badge-pill {
  display: inline-block;
  padding: 0.5rem 1rem !important; /* px-3 py-2 alignment */
  font-weight: 600 !important; /* fw-semibold alignment */
  border-radius: 50rem !important; /* rounded-pill alignment */

  border: 1px solid var(--bs-success-border-subtle) !important;
}

.badge-pill-approved {
  color: var(--bs-success-text-em) !important;
  background-color: var(--bs-success-bg-subtle) !important;
  border: 1px solid var(--bs-success-border-subtle) !important;
}

.badge-pill-rejected {
  color: var(--bs-danger-text-em) !important;
  background-color: var(--bs-danger-bg-subtle) !important;
  border: 1px solid var(--bs-danger-border-subtle) !important;
}

tr.text-primary td,
tr.text-primary th {
  color: inherit;
}

tr.row-approved td {
  color: #008000 !important;
}

tr.row-rejected td {
  color: #800000 !important;
}

.custom-resizable {
  resize: vertical;
  height: 180px;
  min-height: 100px;
  max-height: 600px;
}

pre.small {
  font-size: 0.7rem;
}
